* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

#main-article {
    background-image: url("imagenes/Gato.JPG");
}

#main {
    display: flex;
}

#main>article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main>nav {
    flex: 0 20vw;
    background: beige;
    order: -1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

header,
footer,
article,
nav {
    padding: 1em;
}

header,
footer {
    background: goldenrod;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: right;
    color: white;
}

nav>button {
    background-color: peru;
    border-radius: 10px;
    justify-self: flex-end;
}

header h1 {
    color: white;
}

article h2 {
    color: white;
}

#cat {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px 100px 5px 5px;
}

table tr:nth-child(even) {
    background-color: beige;
}